@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
  background: linear-gradient(to bottom, #7b20af, #d8d4da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* LOGIN INPUT FIELD STYLING */

.login-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1a0232;
  opacity: 40%;
}

.react-tel-input .form-control {
  width: 100%;
  padding: 30px 50px;
  color: black;
  font-size: 24px;
  letter-spacing: 2px;
  border-radius: 12px;
  height: 0;
  line-height: 0;
}
.form-control::placeholder {
  font-size: 18px;
  color: #a9a9a9;
  font-weight: 400;
}

.react-tel-input .country-list {
  color: black;
}

.react-tel-input .selected-flag,
.react-tel-input .flag-dropdown,
.react-tel-input .flag-dropdown.open,
.react-tel-input .flag-dropdown.open .selected-flag {
  border-radius: 12px;
}

.react-tel-input .flag-dropdown {
  border: none;
}

/* LOGIN INPUT FIELD STYLING */
